.detached-card {
  position: absolute;
  left: 30vw;
  top: 10vh;
  z-index: 1000;
  min-height: 40vh;
  max-height: 70vh;
  width: 35vw;
  overflow: auto !important;
}
.get-directions-link {
  font-weight: bold;
  cursor: pointer;
}
.clear-icon {
  color: #111111;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
